# Dependencies
node_modules/

# Build
dist/
dist-chrome/
dist-firefox/
dist-safari/
packages/
*.zip
*.xpi
safari/
public/

# Bun
bun.lockb

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
coverage/

# Editor
.vscode/
.idea/
*.swp
